body {
  margin: 0;
  padding: 0;
  color: #FFFFFF;
  background-color: #00B4CC; }
  body #main {
    max-width: 980px;
    margin: 0 auto; }
  body a.header:hover {
    color: white !important; }
  body .section {
    text-align: center;
    width: 80%;
    margin: auto;
    margin-bottom: 40px; }
    body .section .content {
      padding-top: 60px; }
      body .section .content .segment {
        text-align: left;
        background-color: #00B4CC; }
  body .cover {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #343838; }
    body .cover h1 {
      padding-top: 0px;
      font-size: 60pt; }
    body .cover img {
      height: 300px; }
  body .foot {
    padding-top: 5px;
    padding-bottom: 10px;
    background-color: #343838;
    text-align: center;
    -moz-box-shadow: 0px -2px 5px 0px rgba(50, 50, 50, 0.75);
    -webkit-box-shadow: 0px -2px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px -2px 5px 0px rgba(50, 50, 50, 0.75); }
    body .foot h1 {
      margin-top: -20px;
      padding-top: 0px; }
  body #nav {
    z-index: 10;
    margin-top: -5px; }
    body #nav .menu {
      background-color: #343838;
      -moz-box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.75);
      -webkit-box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.75);
      box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.75); }
  body .text.primary {
    color: #047C8C; }
  body .text.secondary {
    color: #047C8C; }
  body .personel {
    text-align: center; }
  body .fb-page {
    border-radius: 20px;
    margin-top: 10px;
    border-color: grey; }
