body {
  margin: 0;
  padding: 0;
  color: #6A4A3C;
  background-color: #00A0B0; }
  body #main {
    max-width: 980px;
    margin: 0 auto; }
  body .section {
    text-align: center;
    width: 80%;
    margin: auto;
    margin-bottom: 40px; }
    body .section#proyectos {
      margin-bottom: 15px; }
      body .section#proyectos #moneyscanner {
        text-align: center; }
        body .section#proyectos #moneyscanner img {
          height: 100px;
          width: 100px; }
        body .section#proyectos #moneyscanner .video {
          margin-top: 30px; }
    body .section .content {
      padding-top: 15px; }
      body .section .content .segment {
        text-align: left;
        background-color: #ABEEF5;
        border-radius: 20px;
        border: 1px rgba(0, 0, 0, 0.2) solid; }
  body .cover {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #ABEEF5;
    height: 280px; }
    body .cover h1 {
      padding-top: 0px;
      font-size: 60pt; }
    body .cover h2 {
      padding-top: 1px;
      padding-bottom: 1px;
      margin: 0px 0px 0px 0px; }
    body .cover h3 {
      margin: 0px 0px 0px 0px; }
    body .cover img {
      height: 300px; }
  body #nosotros .card.personel {
    background-color: #ABEEF5; }
    body #nosotros .card.personel a {
      color: #6A4A3C; }
    body #nosotros .card.personel .date {
      min-height: 3em;
      margin: 10px auto; }
  body #nosotros .title-description {
    color: #ECC85B; }
  body .foot {
    padding-top: 5px;
    padding-bottom: 10px;
    background-color: #ABEEF5;
    text-align: center;
    -moz-box-shadow: 0px -2px 5px 0px rgba(50, 50, 50, 0.75);
    -webkit-box-shadow: 0px -2px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px -2px 5px 0px rgba(50, 50, 50, 0.75); }
    body .foot h1 {
      margin-top: -20px;
      padding-top: 0px; }
  body #nav {
    z-index: 10;
    margin-top: -5px; }
    body #nav .menu {
      background-color: #ABEEF5;
      -moz-box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.75);
      -webkit-box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.75);
      box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.75); }
      body #nav .menu .navtitle {
        display: none;
        color: #CC333F; }
      body #nav .menu a.item {
        color: #6A4A3C; }
  body .text.title {
    color: #ECC85B; }
  body .text.title-description {
    color: #6A4A3C; }
  body .text.normal {
    color: #6A4A3C; }
  body .text.company-title {
    color: #CC333F; }
  body .personel {
    text-align: center; }
  body .ui.label {
    color: #6A4A3C;
    background-color: #ABEEF5; }
  body .page.msc .video {
    margin-top: 30px; }
    body .page.msc .video iframe {
      width: 600px;
      height: 400px; }
  body .page.msc ul li a {
    color: inherit; }
    body .page.msc ul li a:hover {
      color: #ECC85B; }
