body {
  margin: 0;
  padding: 0;
  color: #FFFFFF;
  background-color: #4FBCBC; }
  body .section {
    text-align: center;
    padding-top: 20px; }
  body .cover {
    background-color: #CC333F;
    padding-top: 8%;
    padding-bottom: 8%;
    -moz-box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.75);
    -webkit-box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.75); }
    body .cover h1 {
      margin-top: -20px;
      padding-top: 0px;
      color: #4FBCBC;
      font-size: 60pt; }
